main {
	margin: 0 auto;
	padding: 50px 20px;
	width: 100%;

	@media screen and (min-width: 1440px) {
		display: flex;
		max-width: var(--sz-desktop);
	}
}

footer {
	margin-top: 50px;

	&.attribution { 
		font-size: 11px; 
		text-align: center; 

		a { 
			color: hsl(228, 45%, 44%); 
		}
	}
}