.tracking-list {
	display: flex;
	flex-wrap: wrap;
	flex: 1;

	li {
		position: relative;
		padding-top: 2.5rem;
		margin-top: 1.5rem;
		background-repeat: no-repeat;
		background-color: orange;
		border-radius: 20px;
		width: 100%;

		&::before {
			content: "";
			position: absolute;
			background-repeat: no-repeat;
			background-position: 90% -5%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&.work {
			background-color: var(--primary-orange);

			&::before {
				background-image: url(../../assets/images/icon-work.svg);
			}
		}
		&.play {
			background-color: var(--primary-soft-blue);

			&::before {
				background-image: url(../../assets/images/icon-play.svg);
			}
		}
		&.study {
			background-color: var(--primary-red);

			&::before {
				background-image: url(../../assets/images/icon-study.svg);
			}
		}
		&.exercise {
			background-color: var(--primary-lime);

			&::before {
				background-image: url(../../assets/images/icon-exercise.svg);
			}
		}
		&.social {
			background-color: var(--primary-violet);

			&::before {
				background-image: url(../../assets/images/icon-social.svg);
			}
		}
		&.self-care {
			background-color: var(--primary-soft-orange);

			&::before {
				background-image: url(../../assets/images/icon-self-care.svg);
			}
		}

		@media screen and (min-width: 375px) and (max-width: 874px) {
			width: calc(100% / 2 - 1rem);

			&:nth-child(2n) {
				margin-left: 2rem;
			}
		}

		@media screen and (min-width: 875px) {
			width: calc(100% / 3 - (2rem / 6 * 4));
			margin-left: 2rem;

			&:nth-child(1), 
			&:nth-child(4) {
				margin-left: 0;
			}
		}

		@media screen and (min-width: 1440px) {
			padding-top: 3.5rem;
			margin-top: 0;
			
			&:nth-child(n + 4) {
				margin-top: 1.5rem;
			}
		}
	}
}

.tracking-item-content {
	position: relative;
	background-color: var(--neutral-dark-blue);
	padding: 30px 20px 45px;
	border-radius: 20px;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;

		h4 {
			font-weight: 400;
		}
	
		.tracking-item-option {
			width: 20px;
			height: 0;
			padding-bottom: 20px;
			text-indent: -9999px;
			overflow: hidden;
			background-image: url(../../assets/images/icon-ellipsis.svg);
			background-repeat: no-repeat;
			background-position: center;
		}

		@media screen and (min-width: 1440px) {
			margin-bottom: 25px;
		}
	}
	
	.tracking-item-timeframes {
		display: flex;
		align-items: center;
		justify-content: space-between;
	
		strong {
			font-size: 1.5rem;

			@media screen and (min-width: 1440px) {
				font-size: 3rem;
				margin-bottom: 15px;
			}
		}
		span {
			font-size: 0.8rem;
			color: var(--neutral-pale-blue);
		}

		@media screen and (min-width: 1440px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
}
